  <footer class="layout-footer">
   <div id="links">
    <div class="laytout-footer__links">
     <a href="https://www.facebook.com" target="_blank">
      <i class="icono-facebook">
       facebook
      </i>
     </a>
     <a href="https://twitter.com" target="_blank">
      <i class="icono-twitter">
       twitter
      </i>
     </a>
     <a href="https://www.linkedin.com" target="_blank">
      <i class="icono-linkedIn">
       linked in
      </i>
     </a>
     <a href="https://plus.google.com" target="_blank">
      <i class="icono-gplus">
       google
      </i>
     </a>
     <a href="http://instagram.com" target="_blank">
      <i class="icono-instagram">
       instagram
      </i>
     </a>
    </div>
    <br>
    <div class="laytout-footer__links">
     <a href="{% url 'index' %}" target="_blank">
       index
     </a> /
     <a href="{% url 'test' %}" target="_blank">
       test
     </a> 
    </div>
   </div>
   <br/>
   <br/>
   © 2016 Django Sample Project
  </footer>