<h1 class="content-subhead">Profile</h1>
<section class="post">
  <header class="post-header">
    <h2 class="post-title">プロフィール</h2>
  </header>
  <div class="post-description">
    <div class="pure-g">
      <div class="pure-u-1 pure-u-md-1-4">
        <img alt="{{ entry.title }}" class="pure-img-responsive"
          src="http://www.gravatar.com/avatar/e8e11aa81288d4e822b798bfdd475a80?s=200">
      </div>
      <div class="pure-u-1 pure-u-md-3-4">
        <ul>
          <li>詳細なプロフィール : <a href="http://itkr.github.io" target="_new">http://itkr.github.io</a></li>
          <li>facebook : <a href="https://www.facebook.com/shota.itakura" target="_new">shota.itakura</a></li>
          <li>twitter : <a href="https://twitter.com/global_peace" target="_new">@global_peace</a></li>
        </ul>
      </div>
    </div>
    <p>15年間くらいアイスホッケーしかやっていませんでしたが現在はプログラミングとかをやっています。社会心理学にも興味があります。
    最近はPythonとDjangoを使うことが多いです。このサイトもDjangoで作られています。</p>
    <p>最近色々なところにブログを書いたりして訳が分からなくなってきたのでこのサイトにまとめています。</p>
  </div>
</section>
