<div class="footer">
	<div class="pure-menu pure-menu-horizontal pure-menu-open">
		<ul>
			<li><a href="http://itkr.github.io" target="_blank"><i class="icono-heart">itkr.github.io</i></a></li>
			<li><a href="https://www.facebook.com/shota.itakura" target="_blank"><i class="icono-facebook">facebook</i></a></li>
			<li><a href="https://twitter.com/global_peace" target="_blank"><i class="icono-twitter">twitter</i></a></li>
			<li><a href="http://itkr.net/api/rss" target="_blank"><i class="icono-rss">RSS</i></a></li>
		</ul>
	</div>
</div>
